@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}


#wrap {
    width: 960px;
    height: 1460px;
    background-color: rgba(0,0,0,.1);
    margin: auto;
}


/* 헤더 영역 */
#header {
    width: 100%;
    height: 150px;
    background-color: rgba(255,0,0,.1);
    position: relative;
    padding-top: 25px;
    box-sizing: border-box;
}
#header h1, h4{
    display: block;
    padding-left: 10px;
    box-sizing: border-box;
}
#header h1 {
    margin-bottom: 12px;
}
#nav {
    width: 100%;
    height: 30px;
    background-color: rgba(0,255,0,.1);
    position: absolute;
    bottom: 0;
    padding: 0;
}
#nav ul>li:nth-child(2n) {
    background-color: rgba(0,255,0,.3);
}
#nav li {
    width: 192px;
    height: 30px;
    float: left;
    text-align: center;
}



/* 섹션 영역 */
#section {
    width: 100%;
    height: 600px;
    background-color: rgba(0,0,255,.1);
    margin-top: 10px;
}



/* 그룹 영역 */
.group {
    width: 220px;
    height: 280px;
    background-color: rgba(255,0,255,.1);
    float: left;
    margin: 10px;
    font-size: 14px;
    text-align: center;
}
.group h4 {
    font-size: 24px;
    margin: 24px 0 10px 0;
    padding-left: 0;
}
.group p {
    margin-bottom: 43px;
}
.group_box {
    width: 220px;
    height: 150px;
    background-color: rgba(255,150,150,.1);
}



/* 푸터 영역 */
#footer {
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,0,.1);
    float: left;
}



@media screen and (min-width: 600px) and (max-width: 959px) {
    #wrap {
        width: 600px;
        height: 1857px;
    }

    #nav li {
        width: 120px;
    }
    
    
    /* 섹션 영역 */
    #section {
        height: 400px;
    }

    /* 그룹 영역 */
    .group {
        width: 280px;
        height: 280px;
    }
    .group_box {
        width: 280px;
    }
}


@media screen and (max-width: 599px) {
    #wrap {
        width: 360px;
        height: 2910px;
    }

    /* 헤더 영역 */
    #header {
        height: 270px;
    }

    #nav {
        height: 150px;
    }
    #nav li {
        width: 100%;
    }
    


    /* 섹션 영역 */
    #section {
        height: 200px;
    }


    /* 그룹 영역 */
    .group {
        width: 340px;
        margin: 10px 10px 0 10px;
    }
    .group_box {
        width: 340px;
    }


    /* 푸터 영역 */
    #footer {
        margin-top: 10px;
    }
}